{% load static %}
<nav class="navbar border-bottom border-body bg-body-tertiary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <ul class="nav-list navbar-nav">
            <div class="container">
                <a class="navbar-brand">
                    <img src="#" alt="logo" class="icon">
                </a>
            </div>
           <li class="nav-item">
               <a class="nav-link" href="#">Inicio</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="{% url 'turnosList' %}">Turnos</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="#">Médicos</a>
           </li>
           <li class="nav-item">
               <a class="nav-link"  href="{% url 'pacientes' %}">Pacientes</a>
           </li>
        </ul>
        <form class="d-flex" role="form" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-outline-light" type="submit">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </button>
        </form>
    </div>
</nav>